@font-face {
   font-family: "Photography";
   src: url(fonts/Photography.ttf);
}

*, *::before, *::after {
   box-sizing: border-box;
}
 
* {
   margin: 0;
   padding: 0;
}
 
body {
   min-height: 100vh;
}

#preloader{
   background: black url("Images/loader.gif") no-repeat center center;
   background-size: 50%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100; 
   display: flex;
   justify-content: center;
}
.loadertxt{
   color: white;
   align-self: center;
   font-size: 4em;
   letter-spacing: 2px;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
   line-height: 0.80em;
   outline: none;
   animation: glowingEffect 5s linear infinite;
}
@keyframes glowingEffect {
   0%,15%,22%,50%,60%,68%,80%,92%
   {
      color: white;
      text-shadow: none;
   }
   15.1%,22.1%,50.1%,60.1%,68.1%,80.1%,92.1%,100%
   {
      color: white;
      text-shadow: 0 0 10px white,
      0 0 20px white,
      0 0 40px white,
      0 0 80px white,
      0 0 160px white;
   }
}


div.fond{
   min-height: 100vh;
   position: relative;
   isolation: isolate;
}

div.fond::after{
   content: "";
   position: absolute;
   z-index: -1;
   inset: 0;
   background-image: url('Images/fondAccueil.jpg');
   filter: blur(0.6em);
}

div.presentation{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
h1.Charles{
   display: block;
   font-size: 130px;
   color: white;
   font-family: "Photography";
}
h1.Charles:hover{
   cursor: pointer;
   transform: scale(1.15);
}
