@font-face {
   font-family: "OutfitELight";
   src: url(fonts/Outfit-ExtraLight.ttf);
}
@font-face {
   font-family: "OutfitLight";
   src: url(fonts/Outfit-Light.ttf);
}
@font-face {
   font-family: "OutfitEBold";
   src: url(fonts/Outfit-ExtraBold.ttf);
}

*, *::before, *::after {
   box-sizing: border-box;
}
 
* {
   margin: 0;
   padding: 0;
   font-family: inherit;
}
 
body {
   min-height: 100vh;
}

img.Social{
   width: 50px;
}
img.SocialF{
   width: 45px;
   position: relative;
   bottom: 4px;  
}
img.Social:hover{
   cursor: pointer;
   transform: scale(1.05);
}
img.SocialF:hover{
   cursor: pointer;
   transform: scale(1.05);
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   font-family: "OutfitLight", sans-serif;
   font-size: 22px;
   height: 50px;
   text-decoration: none;
   
   border-bottom: 2px gray solid;
}

a{
   height: 50px;
   text-decoration: none;
   color: black;
}
div.social{
   height: 45px;
}
li:hover{
   cursor: pointer;
   transform: scale(1.15);
}
li.page{
   border: 2px gray solid;
   background-color: rgba(220, 220, 220, 0.3);
}

main{
   margin-top: 35px;
}
div.img{
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   margin-bottom: 70px;
}
div.img div.price{
   align-self: center;
}
div.priceDesc{
   display: flex;
   align-self: center;
   flex-flow: row nowrap;
}
div.price{
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   padding-left: 10px;
   font-size: 22px;
   font-family: "OutfitLight", sans-serif;
   width: 130px;
   height: 60px;
   color: white;
   background-color: #ed4e74;
   border-radius: 0 0 20px 20px;
}
span{
   font-family: "OutfitEBold", sans-serif;
   font-size: 35px;
   text-decoration: underline;
}
p{
   font-family: "OutfitLight", sans-serif;
   font-size: 20px;
   width: fit-content;
   height: fit-content;
}
img.presentation{
   width: 50%;   
}
